appdirs
asgiref
certifi
chardet
Django
django-cleanup
django-migration-linter
django-recaptcha
django-rosetta
flake8
idna
importlib-metadata
mccabe
numpy
opencv-python
Pillow
polib
psycopg2
pycodestyle
pyflakes
python-memcached
pytz
requests
sentry-sdk
six
sqlparse
toml
typing-extensions
urllib3
zipp
